<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>
<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Você solicitou a troca da senha para sua conta do GoBarber</p>
  <p>Clique no link abaixo e proceda a troca</p>
  <p>
    <a href="{{link}}">Resetar a senha</a>
  </p>
  <p>Obrigado! <br /><strong>Equipe GoBarber</strong></p>
</div>
